services:
  - type: web
    name: quants-shop-bots
    env: python
    region: frankfurt
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: PORT
        generateValue: true
    autoDeploy: true
    plan: free